<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.specialweek.user.mapper.UserMapper">
    <update id="updateProfile">
        UPDATE tb_user
        <set>
            <if test="nickName != null">nick_name = #{nickName},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="avatar != null">avatar = #{avatar},</if>
            <if test="email != null">email = #{email},</if>
            <if test="bio != null">bio = #{bio},</if>
            <if test="qyId != null">qy_id = #{qyId},</if>
            <if test="gender != null">gender = #{gender},</if>
            <if test="birthday != null">birthday = #{birthday},</if>
            <if test="school != null">school = #{school},</if>
            <if test="tagsJson != null">tags_json = #{tagsJson},</if>
            update_time = NOW()
        </set>
        WHERE id = #{id}
    </update>

    <select id="findById" resultType="com.specialweek.user.domain.User">
        SELECT *
        FROM tb_user
        WHERE id = #{id}
    </select>

    <select id="countFollowee" resultType="int">
        SELECT COUNT(*) FROM tb_follow WHERE user_id = #{userId}
    </select>

    <select id="countFans" resultType="int">
        SELECT COUNT(*) FROM tb_follow WHERE follow_user_id = #{userId}
    </select>
</mapper>
